
body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #f0f9ff;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}
header {
    background-color: #dff9fb;
    padding: 20px;
}
.logo {
    width: 100px;
}
main {
    padding: 20px;
}
footer {
    background-color: #c7ecee;
    padding: 10px;
}
